.container i{
    color: var(--cor-branca);
    cursor: pointer;
    font-size: 3rem;
}

.container{
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}

.content{
    width: 41rem; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.row{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rowcar{
    height: 2rem;
}

.block{
    color: var(--cor-branca);
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.htrue{
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin-top: auto;
}

.textblock{
    text-align: center;
    color: var(--cor-branca);
}

.linha{
    width: 100%;
    height: 0.25rem;
    background-color: var(--cor-1);
    border-radius: 0.125rem;
}

.input{
    height: 3.5rem;
    width: 25rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--cor-branca);
    font-family: var(--fonte-1);
    border: var(--cor-1) 0.25rem solid;
    border-radius: 1.75rem;
    text-indent: 1rem;
}

.confere{
    width: 4rem;
    height: 4rem;
    background-color: var(--cor-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.guia{
    height: 15rem;
    width: 30rem;
    border-radius: 1.5rem;
    background-color: var(--cor-branca);
    border: var(--cor-1) 0.25rem solid;
    border-radius: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.guia p{
    font-size: 1rem;
    color: var(--cor-negra);
    text-align: center;
}

.guia h2{
    font-size: 1.5rem;
}

.margem{
    margin:  1rem;
}

.rowguia{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.hguia{
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
}

.blockguia{
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
}

.textblockguia{
    text-align: center;
}

.arrow{
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    z-index: 1;
    pointer-events: none;
}

.textValue{
    position: relative;
    z-index: 2;
}

.guia i{
    color: rgb(139, 10, 10);
    font-size: 3rem;
}

.content i{
    color: rgb(139, 10, 10);
    font-size: 7rem;
}