header{
    display: flex;
    margin: 1rem;
    height: 10rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 9rem;
    transition: 0.6s;
    cursor: pointer;
}

img:hover{
    transform: scale(1.2);
}

.container{
    height: 100%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    margin-bottom: 2rem;
}

.home{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Select {
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  scale: 1;
  transition: 0.2s;
  cursor: pointer;
}

.Select:hover{
    transform: scale(1.05);
}

.bola {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--cor-branca);
  flex-shrink: 0;
  z-index: 2;
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-1);
}

.bola span{
    font-size: 5rem;
    color: var(--cor-branca);
}

.retangulo {
  position: relative;
  height: 5rem;
  flex: 1;
  background: transparent;
  margin-left: -1.5rem;
  border-end-end-radius: 3rem;
  border-start-end-radius: 3rem;
  
  -webkit-mask:
    radial-gradient(circle 3rem at 0 50%, transparent 99%, black);
          mask:
    radial-gradient(circle 3rem at 0 50%, transparent 99%, black);

  background-color: var(--cor-branca);

  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    text-indent: 3rem;
}

h1{
    font-size: 2rem;
    color: var(--cor-4);
}

.retangulo p{
    font-size: 1rem;
    color: var(--cor-negra);
}

.iconequeroda{
    color: var(--cor-branca);
    cursor: pointer;
    font-size: 3rem;
    transition: 0.5s;
}

.iconequeroda:hover{
    transform: rotate(45deg);
    scale: 1.2;
}