header, footer{
    height: 10rem;
    width: 20rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
