header, footer{
    border: white solid 1px;
    height: 10rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    display: flex;
    margin-top: 3rem;
}

footer{
    display: flex;
    margin-top: auto;
}

img{
    height: 9rem;
    transition: transform 0.6s ease;
    transform: scale(1);
    will-change: transform;
}

img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.container{
    border: white solid 1px;
    height: 40rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.home{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Select {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.bola {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid white;
  flex-shrink: 0;
  z-index: 2;
}

.retangulo {
  position: relative;
  height: 5rem;
  flex: 1;
  background: transparent;

  -webkit-mask:
    radial-gradient(circle 2.5rem at 0 50%, transparent 99%, black);
          mask:
    radial-gradient(circle 2.5rem at 0 50%, transparent 99%, black);

  box-shadow: inset 0 0 0 1px white;
}
