@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root{
    --cor-1: #FEBE20;
    --cor-2: #FEE25B;
    --cor-3: #EF7627;
    --cor-4: #F01613;
    --cor-5: #DE0F10;

    --cor-negra: #000;
    --cor-branca: #fff;

    --fonte-1: "Lilita One", sans-serif;
    --fonte-2: "Roboto", sans-serif;
}